{% extends 'base/index.html' %}
{% block content %}
<p class="head-color" align="center">My To-Do List</p>
<div class="row justify-content-between">
    <div class="col">
        <p style="font-size:xx-large; color: rgb(42,28,55);;">Hi ,{{ user.username }}   </p>
    </div>
    <div class="col text-end mt-3">
        {% if user.is_authenticated %}
                <a class="text-muted text-decoration-none"href="{% url 'logout' %}">Logout</a>
         {% endif %}
    </div>
</div>
<hr>
<div class="row">
    <p class="col" style="font-size:x-large;">You have 
        <strong>{{ count }}</strong> incomplete Task{{ count|pluralize:"s"}}.
    </p>
    <a class="col text-end"href="{% url 'create-task' %}">
        <i style="color: rgba(121, 121, 121, 0.71);"class="fas fa-plus display-5 "></i>
    </a>


</div>

<table class="table table-secondary table-striped">
    {% for task in tasks %}

    <tr class="p-3">
        {% if task.completed  %}
           <td style="font-size:x-large;">
            <a href="{% url 'incomplete-task' task.id %}">
                <i style="color: rgba(184, 129, 129, 0.71);" class="fa fa-check-square-o"></i> 
            </a>
             <Del>{{ task.title }}</Del></td>
        {% else %}
            
            <td style="font-size:x-large;">
                <a href="{% url 'complete-task' task.id %}">
                    <i style="color: rgba(121, 121, 121, 0.71);" class="fa fa-square-o"></i> 
                </a>
                {{ task.title }}</td>
        {% endif %}

        <td>
            <a href="{% url 'delete-task' task.id %}" class="text-end">
            <i style="color: rgba(121, 121, 121, 0.71);"class="fas fa-trash"></i>
            </a>
        </td>
    </tr>
    {% empty %}
    <p>No tasks Available </p>
    {% endfor %}

</table>
{% endblock content %}

